@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fff;
    --foreground: #000;
    --accent-1: #fafafa;
    --accent-2: #eaeaea;
    --accent-3: #999;
    --accent-4: #888;
    --accent-5: #666;
    --accent-6: #444;
    --accent-7: #333;
    --accent-8: #111;
    --secondary: #0070f3;
    --secondary-light: #3291ff;
    --secondary-lighter: #d3e5ff;
    --secondary-dark: #0761d1;
}

.dark {
    --background: #000;
    --foreground: #fff;
    --accent-1: #111;
    --accent-2: #333;
    --accent-3: #444;
    --accent-4: #666;
    --accent-5: #888;
    --accent-6: #999;
    --accent-7: #eaeaea;
    --accent-8: #fafafa;
    --secondary: #0070f3;
    --secondary-light: #3291ff;
    --secondary-lighter: #d3e5ff;
    --secondary-dark: #0761d1;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-background;
    @apply text-foreground;
}

* {
    @apply transition-all;
}
